@using SistemaDePlanillas.Models
@{
    var config = (ViewConfig)ViewData["config"];
    string active = config != null && config.activeMenu != null ? config.activeMenu : "";
}



            @{
                var navbar = SessionManager.Instance.getNavbarConfig((User)Session["user"]);
            }
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home"><span class="glyphicon glyphicon-home"></span> Sistema de Planillas</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            @{
                                foreach (var menu in navbar.leftMenus)
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="@menu.icon"></span>
                                            @menu.name
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @{
                                                foreach (var option in menu.options)
                                                {
                                                    <li><a href="@option.Item2">@option.Item1</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                 }
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @{
                                foreach (var menu in navbar.rightMenus)
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            @menu.name
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @{
                                                foreach (var option in menu.options)
                                                {
                                                    <li><a href="@option.Item2">@option.Item1</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>                    }
                            }
                        </ul>
                    </div>
                </div>
            </div>