@model SistemaDePlanillas.Models.ViewModels.SidebarViewModel

<nav id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-md">

    <a href="@Url.Action("Index", "Home")" class="navmenu-brand">
        @ViewBag.AppTitle
    </a>

    <ul id="navmenu-links" class="nav navmenu-nav">
        @foreach(var subMenu in Model.ApplicationMenus)
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon @subMenu.Glyphicon"></span>
                    @subMenu.DisplayName
                    <span class="glyphicon glyphicon-menu-right"></span>
                </a>
                <ul class="dropdown-menu nav navmenu-nav">
                    @foreach (var link in subMenu.Links)
                    {
                        <li>@Helpers.AjaxLink(@link.DisplayName, @link.Action, @link.Controller)</li>
                        <!--<li>@Ajax.ActionLink(@link.DisplayName, @link.Action, @link.Controller, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "page", OnBegin = "hidePage", OnComplete = "", OnSuccess = "ajaxNavigationComplete", OnFailure = "ajaxNavigationFailed" })</li>-->
                        <!--<li><a href="@Url.Action(@link.Action, @link.Controller)" class="ajax-link">@link.DisplayName</a></li>-->
                    }
                </ul>
            </li>
        }
    </ul>
    
</nav>
