<!--<div id="sidebar" class="fixed collapse navbar-collapse navbar-left">-->
<nav id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm">

    <a href="@Url.Action("Index", "Home")" class="navmenu-brand">Sistema de planillas</a>

    <ul class="nav navmenu-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-home"></span>&nbsp;Home
            </a>
            <ul class="dropdown-menu nav navmenu-nav">
                <li><a href="@Url.Action("Test", "Home")">Super Testing</a></li>
                <li><a href="@Url.Action("Index", "Home")">Dashboard template</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>&nbsp;Users
            </a>
            <ul class="dropdown-menu nav navmenu-nav">
                <li><a href="@Url.Action("Index", "Users")">Usuarios</a></li>
                <li><a href="@Url.Action("Create", "Users")">Crear Usuario</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;Settings
            </a>
            <ul class="dropdown-menu nav navmenu-nav">
                <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
    
</nav>
